.labels {
   float: left;
}

#campaignText, .monster, pre {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;      
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;      
  white-space: -o-pre-wrap;    
  word-wrap: break-word;  
  font-family: Helvetica, Arial, sans-serif !important;
  color: #71675b;
  font-size: 0.85em !important;
  text-align: left !important;
  transition: all 0.5s !important;
  font-weight: 400 !important;
  line-height: 1.4rem !important;
}

.monster {
   font-family: pre;
}

.property {
   font-weight: bold;
}

.headerProperty {
   font-weight: bold;
   font-size: 1.8rem;
   font-family: arial;
}

.encounter {
   text-align: center;
   font-weight: bold;
   font-size: 2rem;
   display: inline-block;
   width: 100%;
}

.divider {
   height: 5px;
   width: 100%;
   background: #71675b;
}

body {
   background: transparent !important;
}

body, html {
   font-size: 20px !important;
}

* {
   color: #71675b;
}

pre {
   color: #71675b !important;
}

.form-control:disabled, .form-control[readonly] {
   background: transparent !important;
   color: #71675b !important;
}

.btn-secondary {
   background:rgba(113, 103, 91, 0.7) !important;
   outline: none !important;
   border-color: transparent !important;
}

.btn-secondary:focus, .btn-secondary.focus {
   box-shadow: 0 0 0 0.2rem rgba(113, 103, 91, 0.5) !important;
}

.btn-secondary:hover {
   background: #71675b !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #71675b !important;
   opacity: 0.8 !important; /* Firefox */
 }
 
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #71675b;
   opacity: 0.8 !important;
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
   color: #71675b;
   opacity: 0.8 !important;
 }

 .form-control {
    border: 1px solid #71675b !important;
    opacity: 0.8 !important;
 }

 .dropdown-menu {
    background:  rgba(113, 103, 91, 0.7) !important;
    color: #fff;
 }

 .dropdown-item:hover {
   background:  rgba(113, 103, 91, 1) !important;
   color: #fff !important;
 }

 .dropdown-item {
   color: #fff !important;
 }

