.labels {
   float: left;
}

#campaignText, .monster, pre {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;      
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;      
  white-space: -o-pre-wrap;    
  word-wrap: break-word;  
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
  color: #71675b;
  font-size: 0.85em;
  text-align: left;
  transition: all 0.5s;
  font-weight: 400;
  line-height: 1.4rem;
}

.monster {
   font-family: pre;
}

.property {
   font-weight: bold;
}

.headerProperty {
   font-weight: bold;
   font-size: 1.8rem;
   font-family: arial;
}

.encounter {
   text-align: center;
   font-weight: bold;
   font-size: 2rem;
   display: inline-block;
   width: 100%;
}

.divider {
   height: 5px;
   width: 100%;
   background: #71675b;
}

body {
   background: transparent !important;
}

body, html {
   font-size: 20px !important;
}

* {
   color: #71675b;
}

pre {
   color: #71675b !important;
}